body {
    background-color: #d9dcd6;
}

.container-fluid {
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: 0 0 20px; 
}

.evaporate {
    display: none;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.bttns {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
}
